<div>
	<div class="content-box">
    	<div class="content-header">
    		<h3>
        		<div class="title-box">
               		Estados  
        		</div>  
        		<div class="btns-box">
					<table class="table-reset">
						<tr>
  							<td>
								<form class="form-search" action="/activo/estado_cis">
								  <input type="text" name="prBuscar" class="input-medium search-query" placeholder="buscar...">
								  <button type="submit" class="btn">Buscar</button>
								</form>  
  							</td>
  							<td> &nbsp;</td>
  							<td><button onclick="window.location='/activo/estado_cis/new'">Agregar</button>                           
  							</td>
						</tr>
					</table>
        		</div>
        	</h3>
        </div>
        <div class="content">
<table class="table">		
	<thead>
		<tr>
			<th  style="width: 23%">Nombre</th>
			<th style="width: 30%">Descripcion</th>
			<th style="width: 5%">Color</th>
			<th style="width: 16%">F. Inicio Vigencia</th>
			<th style="width: 16%">F. Fin Vigencia</th>
			<th style="width: 10%">Acciones</th>	
		</tr>
	</thead>	  
      <% @activo_estado_cis.each do |activo_estado_ci| %>
		<tr  class="<%= cycle("even", "odd") %>">
			<td><%= activo_estado_ci.nombre %></td>
			<td><%= activo_estado_ci.descripcion %></td>
			<td><div class="evo-colorind-ff" style="background: <%= activo_estado_ci.color %>"></div></td>
			<td><%= activo_estado_ci.fecha_inicio_vigencia %></td>
			<td><%= activo_estado_ci.fecha_fin_vigencia %></td>
			<td>
				<%= link_to link_to image_tag("/assets/icon/view.png"), activo_estado_ci %> |
				<%= link_to link_to image_tag("/assets/icon/edit.png"), edit_activo_estado_ci_path(activo_estado_ci) %>
			</td>
		</tr>
	  <% end %>
</table>

</div>
</div>
</div>
