<%= f.hidden_field :incidente_id %>
<table class="form-table">
	<tr>
		<td><%= f.label :fecha_inicio,"Fecha Inicio:" %></td>
		<td><%= f.text_field :fecha_inicio %></td>
		<td><%= f.label :fecha_fin,"Fecha Fin:" %></td>
		<td><%= f.text_field :fecha_fin %></td>
	</tr>
	<tr>
		<td><%= f.label :ci_utilizado_id,"CI Utilizado:" %></td>
		<td><%= f.collection_select :ci_utilizado_id, @ci_id, :id, :nombre,  {:include_blank => true}  %></td>
		<td><%= f.label :resumen,"Resumen:" %></td>
		<td><%= f.text_field :resumen %></td>
	</tr>
	<tr>
		<td><%= f.label :descripcion,"Descripción:" %></td>
		<td><%= f.text_field :descripcion %></td>
		<td><%= f.label :soporte_ti_id,"Soporte TI:" %></td>
		<td><%= f.collection_select :soporte_ti_id, @usuarios, :id, :usuario,  {:include_blank => true}  %></td>
	</tr>
	<tr>
		<td><%= f.label :resolucion,"Resolución:" %></td>
		<td><%= f.text_field :resolucion %></td>
		<td><%= f.label :estado_id,"Estado:" %></td>
		<td><%= f.collection_select :estado_id, @catalogo_estado, :id, :nombre,  {:include_blank => true}  %></td>
	</tr>
</table>    



 <script type="text/javascript">
    $(function() {
        $( "#incidente_actividad_incidente_fecha_inicio" ).datepicker();
        $( "#incidente_actividad_incidente_fecha_fin" ).datepicker();
    });
    </script>
