<div>
      <div class="content-box">
        <div class="content-header">
        <h3>
        <div class="title-box">
               Lista de Actividades  
        </div>  
        <div class="btns-box">
          <button onclick="window.location='/seguridad/usuarios/new'">
                  Agregar
                </button>      
        </div></h3>
        </div>
        <div class="content">
          <table class="table">			 
			  <tr>			   
			    <th>Fecha inicio</th>
			    <th>Fecha fin</th>			    
			    <th>Resumen</th>			  
			    <th>Soporte ti</th>			   
			    <th>Estado</th>
			    <th>Acciones</th>			    
			  </tr>
			
			<% @incidente_actividad_incidentes.each do |incidente_actividad_incidente| %>
			  <tr  class="<%= cycle("even", "odd") %>">  	    
			    <td><%= incidente_actividad_incidente.fecha_inicio %></td>
			    <td><%= incidente_actividad_incidente.fecha_fin %></td>			    
			    <td><%= incidente_actividad_incidente.resumen %></td>			    
			    <td><%= incidente_actividad_incidente.soporte_ti_id %></td>			    
			    <td><%= incidente_actividad_incidente.estado_id %></td>			    
			    <td><%= link_to 'Editar', edit_incidente_actividad_incidente_path(incidente_actividad_incidente) %> |
			    <%= link_to 'Borrar', incidente_actividad_incidente, method: :delete, data: { confirm: 'seguro de eliminar?' } %></td>
			  </tr>
			<% end %>
			</table>

        </div>
      </div>
</div>
