<div>
	<div class="content-box">
    	<div class="content-header">
    		<h3>
 				<div class="title-box">
 					<img alt="Fabricador" src="/assets/icon/manufacturer.png">
            		Lista de Fabricadores 
        		</div>  
        		<div class="btns-box">
					<table class="table-reset">
						<tr>
  							<td>
  								<button onclick="window.location='/activo/fabricador_cis/new'">Agregar</button>   
    							<button onclick="window.open('/activo/fabricador_cis/report', '_blank');">Reporte</button>                     
  							</td>
						</tr>
					</table>
       			</div>
       		</h3>
       	</div>
        <div class="content">
<table class="table" cellspacing="0" id="table" >    
	<thead> 
		<tr>
		  	<th style="width: 10%">Codigo</th>
		    <th style="width: 30%">Nombre comercial</th>
		    <th style="width: 18%">Pagina Web</th>
		    <th style="width: 16%">F. Inicio Vigencia</th>
		    <th style="width: 16%">F. Fin Vigencia</th>
		    <th style="width: 10%">Acciones</th>               
	  	</tr> 	
  		<tr>
  			<form class="form-search" action="/activo/fabricador_cis">
			<td>
				<input type="text" name="prBuscarId" value="<%= @pr_buscar_id %>" class="search-query" placeholder="" size="2"/>	
			</td>
			<td>
				<input type="text" name="prBuscarNombre" value="<%= @pr_buscar_nombre %>" class="search-query" placeholder="" size="33"/>	
			</td>
			<td>
				<input type="text" name="prBuscarPagina" value="<%= @pr_buscar_pagina %>" class="search-query" placeholder="" size="14"/>	
			</td>
			<td>
				<input type="text" id="prBuscarFechaInicioVig" value="<%= @pr_buscar_fecha_inicio_vig %>" name="prBuscarFechaInicioVig" value="" class="search-query" placeholder="" size="10"/>	
			</td>
			<td>
				<input type="text" id="prBuscarFechaFinVig" value="<%= @pr_buscar_fecha_fin_vig %>" name="prBuscarFechaFinVig" value="" class="search-query" placeholder="" size="10"/>	
			</td>
			<td>
				<a href="javascript:void(0)" onclick="fnBuscar()"><img alt="Filtro" src="/assets/icon/filter.png"></a>
			</td>
			</form>
  		</tr>
	</thead>
	<tbody>
		<tr style="visibility: false"></tr>
	  <% @activo_fabricador_cis.each do |activo_fabricador_ci| %>
		<tr  class="<%= cycle("even", "odd") %>">
	  		<td><%= activo_fabricador_ci.id %></td>        
	    	<td><%= activo_fabricador_ci.nombre_comercial %></td>        
	    	<td><%= activo_fabricador_ci.pagina_web %></td>        
	    	<td><%= activo_fabricador_ci.fecha_inicio_vigencia %></td>        
	    	<td><%= activo_fabricador_ci.fecha_fin_vigencia %></td>        
    		<td>
    			<%= link_to image_tag("/assets/icon/view.png"), activo_fabricador_ci %> |
    			<%= link_to image_tag("/assets/icon/edit.png"), edit_activo_fabricador_ci_path(activo_fabricador_ci) %>
     		</td>
    	</tr>
	  <% end %>
	</tbody>
</table>
<%= paginate @activo_fabricador_cis %>
</div>
</div>
</div>
<script>
	$(function() {
        $( "#prBuscarFechaInicioVig" ).datepicker({
        	onClose: function( selectedDate ) {
				$( "#prBuscarFechaFinVig" ).datepicker( "option", "minDate", selectedDate );
			}
        });
        $( "#prBuscarFechaFinVig" ).datepicker({
        	onClose: function( selectedDate ) {
				$( "#prBuscarFechaInicioVig" ).datepicker( "option", "maxDate", selectedDate );
			}
        });
    });
     
	function fnBuscar(){
		document.forms[0].submit();
  	}
 </script>
