<%= f.hidden_field :ci_id %>
<table class="form-table">
	<tr>
		<td><%= f.label :operacion,"Operación:" %></td>
		<td><%= f.text_field :operacion %></td>
		<td><%= f.label :orden,"Orden:" %></td>
		<td><%= f.text_field :orden %></td>
	</tr>
	<tr>
		<td><%= f.label :estado_categoria_ci_id,"Estado:" %></td>
		<td><%= f.collection_select :estado_categoria_ci_id, @estado_categoria_ci_id, :id, :nombre_estado,  {:include_blank => true}  %></td>
		<td><%= f.label :responsable_id,"Responsable:" %></td>
		<td><%= f.collection_select :responsable_id, @responsable_id, :id, :usuario,  {:include_blank => true}  %></td>
	</tr>
	<tr>
		<td><%= f.label :fecha,"Fecha:" %></td>
		<td><%= f.text_field :fecha %></td>
		<td><%= f.label :observaciones,"Observaciones:" %></td>
		<td><%= f.text_field :observaciones %></td>
	</tr>
</table>
<script>
    $(function() {
        $( "#activo_ciclo_vida_fecha" ).datepicker();
    });
    </script>