<table class="form-table">
	<tr>	
		<td><%= f.label :nombre_peticion_ti,"Nombre:" %></td>
		<td><%= f.text_field :nombre_peticion_ti,:style=> "width:96%" %></td>
		<td><%= f.label :tipo_peticion_id,"Tipo:" %></td>		
		<td><%= f.collection_select :tipo_peticion_id, @tipo, :id, :nombre,  {:include_blank => true}  %></td>
	</tr>
	<tr>
		<td><%= f.label :descripcion,"Descripción:" %></td>
		<td colspan="3"><%= f.text_area :descripcion,:rows=>2,:style=> "width:96%" %></td>
	</tr>	
	<tr>
		<td style="width:25%"><%= f.label :usuario_ti_id,"Usuario:" %></td>
		<td style="width:25%"><%= f.collection_select :usuario_ti_id, @usuarios, :id, :usuario,  {:include_blank => true}  %></td>		
		<td style="width:25%"><%= f.label :direccion_division_id,"Dirección:" %></td>		
		<td style="width:25%"><%= f.collection_select :direccion_division_id, @direccion, :id, :nombre,  {:include_blank => true}  %></td>		
	</tr>
	<tr>
		<td><%= f.label :departamento_oficina_id,"Departamento:" %></td>		
		<td><%= f.collection_select :departamento_oficina_id, @departamento, :id, :nombre,  {:include_blank => true}  %></td>		
		<td><%= f.label :seccion_unidad_id,"Sección:" %></td>		
		<td><%= f.collection_select :seccion_unidad_id, @seccion, :id, :nombre,  {:include_blank => true}  %></td>		
	</tr>
	<% if !@peticion_peticion_ti.new_record? %>
	<tr>				
		<td><%= f.label :prioridad_id,"Prioridad:" %></td>		
		<td><%= f.collection_select :prioridad_id, @prioridad, :id, :nombre,  {:include_blank => true}  %></td>		
	</tr>
	<tr>
		<td><%= f.label :motivo_cancelacion %></td>
		<td><%= f.text_field :motivo_cancelacion %></td>
		<td><%= f.label :estado_id %></td>		
		<td><%= f.collection_select :estado_id, @estado, :id, :nombre,  {:include_blank => true}  %></td>		
	</tr>
	<% end %>
</table> 

