<div class="content-box">
        <div class="content-header">
        <h3>
        <div class="title-box">
               Seleccionar Servicio 
        </div>  
        </h3>
        </div>  
        <div class="content">
          <table class="table" cellspacing="0" id="table" >    
		<thead>	
			  <tr>
			      <th>Categoría</th>
			    <th>Nombre</th>
			    <th>Descripción</th>
			    <th>Costo asociado</th>		    
			    <th>Acciones</th>			    
			  </tr>
			</thead>
			<tbody>
			<% @servicios.each do |servicio| %>
			  <tr  class="<%= cycle("even", "odd") %>">
			    <td><%= servicio.categoria.nombre %></td>
			    <td><%= servicio.nombre_servicio %></td>
			    <td><%= servicio.descripcion_servicio %></td>
			    <td><%= servicio.costo_asociado %></td>		    
			    <td><a href="/peticion_tis/seleccionarservicio?servicio_id=<%= servicio.id %>&id=<%= @id %>">Seleccionar</a></td>
			  </tr>
			<% end %>
		</tbody>
			</table>

        </div>
      </div>