<div>
  <div class="content-box">
  	<div class="content-header">
  	<%= form_for(@peticion_peticion_ti, :validate => true) do |f| %>
    <h3>
    <div class="title-box">
           Editar Petición Id: <%= @peticion_peticion_ti.id %>
    </div>  
    <div class="btns-box">   
    	<%= f.submit "Guardar" %>   
      <button onclick="window.open('/peticion/peticion_tis/report?id=<%=@peticion_peticion_ti.id%>', '_blank');">Imprimir</button>       
    </div></h3>
    </div>    
     	<%= render :partial => "form", :locals => { :f => f } %>
     	<% end %>
     	<div class="content-box">
     		<div class="content-header">
        <h3>
        <div class="title-box">
               Lista de Servicios 
        </div>  
        <div class="btns-box">
          		<button onClick="fnAgregar();">Agregar</button>      
        </div></h3>
        </div>  
        <div class="content">
        	<table class="table" cellspacing="0" id="table">    
		<thead>	
		<tr>
		    <th>Categoría</th>
		    <th>Nombre</th>
		    <th>Descripción</th>
		    <th>Costo asociado</th>		    
		    <th>Estado</th>
		    <th>Acciones</th>		   
		  </tr>
		</thead>
<tbody>
		<% @peticion_servicio_tis.each do |peticion_servicio_ti| %>
		  <tr  class="<%= cycle("even", "odd") %>">  
		    <td><%= peticion_servicio_ti.categoria.nombre %></td>
		    <td><%= peticion_servicio_ti.nombre_servicio %></td>
		    <td><%= peticion_servicio_ti.descripcion_servicio %></td>
		    <td><%= peticion_servicio_ti.costo_asociado %></td>		    
		    <td><%= peticion_servicio_ti.estado.nombre %></td>		
		    <td><a onClick="fnQuitar('<%= peticion_servicio_ti.id %>');">Quitar</a></td>    
		  </tr>
		<% end %>
	</tbody>
		</table>
        </div>
      </div>
  </div>
</div>


<script type="text/javascript">

function fnAgregar(){
  $.colorbox({href:"/peticion_tis/agregarservicio?id=<%= @peticion_peticion_ti.id %>",width:"70%"});
}


function fnQuitar(id){

   jConfirm('¿ Seguro de eliminar ?', 'Confirmación', function(result) {       
        if(result){       
         window.location = "/peticion_tis/quitarservicio?servicio_id="+id+"&id=<%= @peticion_peticion_ti.id %>" ;
          }           
    });
}

</script>