<div>
	<div class="content-box">
    	<div class="content-header">
    		<h3>
        		<div class="title-box">
        			<img alt="Propiedad" src="/assets/icon/properties.png">
            		Propiedad Especifica  
        		</div>  
        		<div class="btns-box">
					<table class="table-reset">
						<tr>
  							<td>
  								<button onclick="window.location='/activo/propiedad_especifica_cis/new'">Agregar</button>       
		  					</td>
						</tr>
					</table> 
        		</div>
        	</h3>
        </div>
        <div class="content">
<table class="table" id="table">	
	<thead>
		<tr>
			<th style="width: 20%">Nombre campo</th>
			<th style="width: 13%">Tipo campo</th>
			<th style="width: 20%">Valor string</th>
			<th style="width: 5%">Visualizar</th>
			<th style="width: 16%">F. Inicio Vigencia</th>
			<th style="width: 16%">F. Fin Vigencia</th>
			<th style="width: 10%">Acciones</th>			    
		</tr>
		<tr>
  			<form class="form-search" action="/activo/propiedad_especifica_cis">
			<td>
				<input type="text" id="prBuscarNombre" name="prBuscarNombre" class="search-query" placeholder="" size="15"/>	
			</td>
			<td>
				<select id="prBuscarTipoCampo" name="prBuscarTipoCampo" class="search-query" style="width: 130px;">
					<option value="" selected="true"></option>
				  <% @tipo_campo.each do |tipo_campo_r| %>
  					<option value="<%= tipo_campo_r.id %>"><%= tipo_campo_r.nombre %>"</option>  
  				  <% end %>					
				</select>
			</td>
			<td>
				<input type="text" id="prBuscarValor" name="prBuscarValor" class="search-query" placeholder="" size="10"/>	
			</td>
			<td>
				<input type="checkbox" id="checkBuscarVisualizar" name="checkBuscarVisualizar" class="search-query" placeholder=""/>	
				<input type="hidden" id="prBuscarVisualizar" name="prBuscarVisualizar"/>
			</td>
			<td>
				<input type="text" id="prBuscarFechaInicioVig" name="prBuscarFechaInicioVig" value="" class="search-query" placeholder="" size="10"/>	
			</td>
			<td>
				<input type="text" id="prBuscarFechaFinVig" name="prBuscarFechaFinVig" value="" class="search-query" placeholder="" size="10"/>	
			</td>
			<td>
				<a href="javascript:void(0)" onclick="fnBuscar()"><img alt="Filtro" src="/assets/icon/filter.png"></a>
			</td>
			</form>
  		</tr>
	</thead>		  
	  <% @activo_propiedad_especifica_cis.each do |activo_propiedad_especifica_ci| %>
		<tr  class="<%= cycle("even", "odd") %>">
			<td><%= activo_propiedad_especifica_ci.nombre_campo %></td>
			<td><%= activo_propiedad_especifica_ci.tipo.nombre %></td>
			<td><%= activo_propiedad_especifica_ci.valor_string %></td>
			<td><%= activo_propiedad_especifica_ci.visualizar ? 'SI' : 'NO' %></td>
			<td><%= activo_propiedad_especifica_ci.fecha_inicio_vigencia %></td>
			<td><%= activo_propiedad_especifica_ci.fecha_fin_vigencia %></td>
			<td>
			    <%= link_to link_to image_tag("/assets/icon/view.png"), activo_propiedad_especifica_ci %> |
			    <%= link_to link_to image_tag("/assets/icon/edit.png"), edit_activo_propiedad_especifica_ci_path(activo_propiedad_especifica_ci) %>
		</tr>
	  <% end %>
</table>
<%= paginate @activo_propiedad_especifica_cis %>
</div>
</div>  


<script type="text/javascript">
	var doc = $(document); 
    doc.ready(iniEvento);
    
    function iniEvento(){
    	cargarValor();
    	fnInitTextDatePicker();
    }
    
	function fnInitTextDatePicker(){
        $("#prBuscarFechaInicioVig").datepicker({
        	onClose: function( selectedDate ) {
				$( "#prBuscarFechaFinVig" ).datepicker( "option", "minDate", selectedDate );
			}
        });
        $("#prBuscarFechaFinVig").datepicker({
        	onClose: function( selectedDate ) {
				$("#prBuscarFechaInicioVig").datepicker( "option", "maxDate", selectedDate );
			}
        });
    }
    
    function cargarValor(){
    	$("#prBuscarNombre").val("<%= @pr_buscar_nombre %>");
    	$("#prBuscarTipoCampo").val("<%= @pr_tipo_campo %>");
    	$("#prBuscarValor").val("<%= @pr_valor %>");
    	$("#prBuscarVisualizar").val("<%= @pr_visualizar %>");
    	
    	if("<%= @pr_visualizar %>"=="1" || "<%= @pr_visualizar %>"==""){
    		$("#checkBuscarVisualizar").attr("checked", true);		
    	}else{
    		$("#checkBuscarVisualizar").attr("checked", false);			
    	}
    	
    	$("#prBuscarFechaInicioVig").val("<%= @pr_buscar_fecha_inicio_vig %>");
    	$("#prBuscarFechaFinVig").val("<%= @pr_buscar_fecha_fin_vig %>");
   	}
    
	function fnBuscar(){
		$("#prBuscarVisualizar").val($("#checkBuscarVisualizar").is(':checked') ? "1": "0");
		document.forms[0].submit();
  	}
</script>