<div>
  <div class="content-box">
    <div class="content-header"><h3>
    <div class="title-box">
           Ver Propiedad Especifica  
    </div>  
    <div class="btns-box">            
    </div></h3></div>
    <div class="content">
  <%= form_for(@activo_propiedad_especifica_ci) do |f| %>
  
  <table class="form-table">
  	<tr>
  		<td><%= f.label :nombre_campo,"Nombre Campo:" %></td>
  		<td><%= f.text_field :nombre_campo,:readonly=>true %></td>
  		<td><%= f.label :tipo_campo,"Tipo Campo:" %></td>
  		<td><%= f.collection_select :tipo_campo, @tipo_campo, :id, :nombre,  {:include_blank => true,:readonly=>true}  %></td>
  	</tr>
  	<tr>
  		<td><%= f.label :fecha_inicio_vigencia,"Fecha Inicio Vigencia:" %></td>
  		<td><%= f.text_field :fecha_inicio_vigencia,:readonly=>true %></td>
  		<td><%= f.label :fecha_fin_vigencia,"Fecha Fin Vigencia:" %></td>
  		<td><%= f.text_field :fecha_fin_vigencia ,:readonly=>true%></td>
  	</tr>
  	<tr>
  		<td><%= f.label :valor_string,"Valor:" %></td>
  		<td><%= f.text_field :valor_string,:readonly=>true %></td>
  		<td><%= f.label :visualizar,"Visualizar:" %></td>
  		<td><%= f.check_box :visualizar,:readonly=>true %></td>
  	</tr>
  </table>
</script>
<% end %>

     	 <div class="content-box">
        <div class="content-header"><h3>
        <div class="title-box">
               Lista de Categorías 
        </div>  
        </h3></div>
        <div class="content">
          <table class="table" cellspacing="0" id="table" >    
		<thead>	
			  <tr>
			    <th>Descripcion corta</th>			    
			    <th>Fecha inicio vigencia</th>
			    <th>Fecha fin vigencia</th>
			  </tr>
			</thead>
			<tbody>
			<% @activo_categoria_cis.each do |activo_categoria_ci| %>
			  <tr  class="<%= cycle("even", "odd") %>">
			    <td><%= activo_categoria_ci.descripcion_corta %></td>			    
			    <td><%= activo_categoria_ci.fecha_inicio_vigencia.strftime("%d/%m/%Y") %></td>
			    <td><%= activo_categoria_ci.fecha_fin_vigencia.strftime("%d/%m/%Y") %></td>			   
			  </tr>
			<% end %>
		</tbody>
			</table>

        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">

function fnAgregar(){
  $.colorbox({href:"/propiedad_especifica_cis/agregarcategoria?id=<%= @activo_propiedad_especifica_ci.id %>",width:"50%"});
}


function fnQuitar(id){

   jConfirm('¿ Seguro de eliminar ?', 'Confirmación', function(result) {       
        if(result){       
         window.location = "/propiedad_especifica_cis/quitarcategoria?categoria_id="+id+"&id=<%= @activo_propiedad_especifica_ci.id %>" ;
          }           
    });
}


</script>